<div id="index">
  <div>
    <% @needs.first(5).each do |need| %>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="need-item">
        <div class="need-img">
            <img src="https://s3.amazonaws.com/quipley-<%= settings.environment %>/images/<%= need['id'] %>_thumb.png">
         </div>
         <div class="need-name">
            <a href="/register?need_id=<%= need['id']%>&need_name=<%= need['name']%>&need_community_name=<%= need['community_name']%>">
              <%= need['name'] %>
            </a>
          </div>
          <div class="need-detail">
            <p>
              <b><%= need['community_name'] %></b><br>
              <%= need['city'] %>, <%= Madison.get_abbrev need['state'] %>
            </p>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
